* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.row {
    float: left;
    width: 100%;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat';
}
header {
    width: 100%;
    min-height: auto;
}

a {
    color: white;
    text-decoration: none;
}

ul li {
    list-style-type: none;
}
nav {
    
    background-color: black;
    min-height: 35px;
    padding: 0;
    margin: 0;

}

nav .menu ul {
    height: 35px auto;
    margin-left: 600px
    
}

nav .menu ul li {
    display: inline-block;
    margin: 20px auto;
    padding: 0 20px;
    font-size: 20px;
    line-height: 35px;
}
nav .menu ul li:hover {
    background-color: red;
}

#logo {
    width: auto;
    float: left;
    height: 70px;
    margin-left: 180px;
}

a#logo img {
    width: auto;
    height: 100%;

}
/* tránh sập độ cao */
.clear {
    clear: both; 
}
.bia img {
    height: 80%;
    width: 100%;
}